@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    margin: 0;
    padding: 0;
    background: #222222;
    padding: 10px 40px 10px 10px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

nav ul li.logo {
    flex: 0.5;
    font-size: 30px;
    font-weight: 700;
    color: #f2f2f2;
    float: left;
    /* border: solid red; */
}

nav ul li.logo-img img {
    height: 70px;
    width: 70px;
    margin-left: 2%;
}

nav ul li.logo-img {
    margin-right: 1%;
}

nav ul div.items {
    padding: 0 25px;
    display: inline-flex;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: #f2f2f2;
}

nav ul div.items a:hover {
    color: rgb(75, 125, 125);
}

nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

nav ul .search-icon .icon:hover {
    background: #e6e6e6;
}

nav ul .search-icon .icon span {
    color: #222222;
    font-size: 18px;
}

nav ul li.btn {
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
}

nav ul li.btn span {
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li.btn span.show:before {
    content: '\f00d';
}

@media screen and (max-width: 1052px) {
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul li.logo {
        display: none;
    }
    nav ul div.items {
        flex: 4;
    }
}

@media screen and (max-width: 800px) {
    nav ul li.btn {
        display: block;
    }
    nav {
        z-index: 1;
        padding: 9px 40px 9px 0;
    }
    nav ul div.items {
        z-index: -1;
        position: fixed;
        top: -220px;
        right: 0;
        width: 100%;
        background: #222222;
        display: inline-block;
        transition: top .4s;
    }
    nav ul div.items.show {
        top: 60px;
    }
    nav ul div.items li {
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
        color: #f2f2f2;
    }
    nav ul div.items li a {
        font-size: 19px;
    }
}

@media screen and (max-width: 405px) {
    nav ul {
        flex-wrap: nowrap;
    }
    nav ul li.search {
        width: 50vmin;
    }
    nav ul li input {
        width: 40vmin;
    }
    nav ul li .search-icon {
        width: 10vmin;
    }
}


/* .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 40px;
    z-index: -2;
}

.content .text {
    font-size: 40px;
    font-weight: 800;
    padding: 5px 0;
    color: #202020;
}

.content .p {
    font-size: 28px;
    font-weight: 600;
    color: #202020;
} */

.container {
    margin-top: 1%;
}

.inner-search {
    overflow: hidden;
}

.inner-search img {
    max-width: 100px;
    max-height: 150px;
}

#row-md-4-search {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#card-search:hover {
    background-color: rgba(40, 149, 151, 0.416);
}

.card:hover {
    background-color: rgba(40, 149, 151, 0.416);
}

#card-search ::shadow {
    width: 40rem;
    flex-direction: row;
    margin-left: 20%;
}


/** de aici pt a 2 -a*/

.inner {
    overflow: hidden;
}

.inner img {
    transition: 1.50s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.col-md-2 {
    /* border: 10px solid rgb(11, 175, 110); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    text-align: center;
}


/* #card-popular {
    width: 22rem;
    height: 40rem;
    margin-top: 5%;
    margin-bottom: 5%;
} */

#card-popular {
    width: 22rem;
    height: 32rem;
    margin-top: 5%;
    margin-bottom: 5%;
}


/**** dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* padding: 12px 16px; */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    /* border: solid red; */
}

.dropdown:hover .dropdown-content .dropdown-item:hover {
    display: block;
    color: solid rgb(0, 0, 0);
    font-weight: bold;
    /* border: solid red; */
    /* border: solid red; */
}


/** section */

#about-section {
    background: rgba(32, 33, 36, 0.1);
    position: relative;
}

.blockabout {
    padding: 20px;
    background: white;
}

.blockabout-inner {
    padding: 30px;
    border: 1px solid rgba(32, 33, 36, 0.1);
}

.sosmed-horizontal a i {
    border: 1px solid #070707;
    border-radius: 50%;
    color: #070707;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: auto 3px;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
}

.rey-btn {
    border: 2px solid #070707;
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 50px;
    transition: all 0.3s;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1.50s ease;
    overflow: hidden;
}