<nav>

    <ul>
        <li class="logo-img"> <img src="assets/search.png"></li>
        <li class="logo">Fashion Space</li>
        <li class="btn"><span class="fas fa-bars"></span></li>

        <div class="items">
            <li><a>Profile</a></li>
            <li><a href="/home">Home</a></li>
            <div class="dropdown">
                <li id="my-movies"><a>Descover clothes</a></li>

                <div class="dropdown-content" *ngFor="let category of categories">
                    <div *ngFor="let category of categories">
                        <div class="dropdown-item" (click)="refreshProducts(category)">{{category.name}} </div>
                    </div>
                </div>

            </div>
            <li><a>Settings</a></li>
            <li (click)="onLogout()"><a>Log out</a></li>
        </div>


    </ul>
</nav>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN " crossorigin="anonymous ">







<div class="container-fluid">
    <div class="row">

        <div class="col-md-2" *ngFor="let product of products">

            <div class="card shadow" id="card-popular" (click)="goToProductPage(product)">
                <div class="inner">
                    <img src={{product.image}} class=" card-img-top " alt="assets/image_not_found.jpg">


                </div>
                <div class="card-body ">
                    <h5 class="card-title "> {{product.name}}</h5>
                    <!-- <p class="card-text ">{{product.description}}</p> -->
                    <p class="card-text ">{{product.price}} $</p>
                </div>

            </div>
        </div>

    </div>
</div>